@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

/*

+------------------------------------------------------------+
|                namecontainer bodyname                      |
+------------------------------------------------------------+
|                      nopad nomarg                          |
|    +---------------------+------------+  +-------------+   |
|    | slidercontainercell |            |  |             |   |
|    +---------------------+ rangevalue |  | ivoryborder |   |
|    |       bodynote      |            |  |planet-canvas|   |
|    +---------------------+------------+  |             |   |
|    | slidercontainercell |            |  +-------------+   |
|    +---------------------+ rangevalue |  | ivoryborder |   |
|    |       bodynote      |            |  |             |   |
|    +---------------------+------------+  +-------------+   |
|    | slidercontainercell |            |  | ivoryborder |   |
|    +---------------------+ rangevalue |  |             |   |
|    |       bodynote      |            |  +-------------+   |
|    +---------------------+------------+                    |
|                                                            |
+------------------------------------------------------------+

*/

.namecontainer {
    background-color: #227722
}

.bodyname {
    color: wheat;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    font-size: 1.3em;
    padding-bottom:0px;
}  

.slidercontainertable{
  width:95%;
  margin-left:auto;
  margin-right:auto;
  margin-top:2px;
  margin-bottom:3.5px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
}

.selected {
  padding: 18px 0;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
}

.active, .collapsible:hover {
  background-color: #551111;
}
