<table style="width:96%;margin-left:auto;margin-right:auto">
    <tbody>
        <tr>
            <td class="ivoryborder planet-canvas">
                <sidebar-window-viewport [texturePath]="TexturePath"></sidebar-window-viewport>
            </td>
        </tr>
        <tr>
            <td class="ivoryborder" style="padding-top:1.5px;padding-bottom:1.5px">
                <button>Change Texture</button>
            </td>
        </tr>
        <tr>
            <td class="ivoryborder" style="padding-top:1.5px;padding-bottom:1.5px">
                <button>Add Satellite</button>
            </td>
        </tr>
    </tbody>
</table>
