<!--nav id="sidebar" class="active">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4">
        <satellite-table></satellite-table>
        <satellite-controls></satellite-controls>
    </div>
</nav-->

    <nav id="sidebar" class="active">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4" style="height:100vh;">
            <!--div class="footer">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
            </div-->

            <div style="width:100%;">
                <satellite-table></satellite-table>
            </div>
            <satellite-controls></satellite-controls>

        </div>
    </nav>

